<!DOCTYPE html><html><head><title>元件章節作業</title><meta name="viewport" content="width=device-width, initial-scale=1"><link href="images/favicon.ico" rel="shortcut icon"><meta charset="UTF-8"><script src="/javascripts/vendor.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script></head><body class="bg-lighter">
<div class="container main my-5"><div class="row"><main class="col post">
<!-- 章節標題 --><div class="mb-4"><h1 class="mt-0 text-muted">元件章節作業</h1><small>檔名：<code>component_final.html</code></small></div>
<!-- 🔥🔥練習開始🔥🔥 -->
<div id="app">
  <h3>作業條件：</h3>
  <ol>
    <li>將以下範例改為 Vue 的版本</li>
    <li>卡片、分頁要製作成 “元件”</li>
    <li>分頁要善用 props 及 emits 的觀念</li>
  </ol>

  <div class="row" id="content">
    <div class="col-md-6 py-2" v-for="i in allData" :key="i">
      <div class="card">
        <div class="card bg-dark text-white text-left">
          <img class="card-img-top img-cover" height="155px" src="{{i.Picture1}}">
          <div class="card-img-overlay d-flex justify-content-between align-items-end p-0 px-3" style="background-color: rgba(0, 0, 0, .2)">
            <h5 class="card-img-title-lg">{{i.Name}}</h5>
            <h5 class="card-img-title-sm">{{i.Zone}}</h5>
          </div>
        </div>
        <div class="card-body text-left">
            <p class="card-text">
              <i class="far fa-clock fa-clock-time"></i>
            &nbsp;{{i.Opentime}}</p>
            <p class="card-text">
              <i class="fas fa-map-marker-alt fa-map-gps"></i>
            &nbsp;{{i.Add}}</p>
            <p class="card-text">
              <i class="fas fa-mobile-alt fa-mobile"></i>
            &nbsp;{{i.Tel}}</p>
            <p class="card-text" v-if="item.Ticketinfo !==''">
              <i class="fas fa-tags text-warning"></i>
            &nbsp;{{i.Ticketinfo}}</p>
        </div>
      </div>
    </div>
    <!-- <card :item="allData"></card> -->
  </div>
  <div class="d-flex justify-content-center mt-4">
    <nav aria-label="Page navigation example">
      <ul class="pagination" id="pageid">
      </ul>
    </nav>
  </div>
</div>

<style>
.img-cover {
  object-fit: cover;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script type="module">
// API 說明：https://api.kcg.gov.tw/ServiceList/Detail/9c8e1450-e833-499c-8320-29b36b7ace5c
// API 路徑：https://api.kcg.gov.tw/api/service/Get/9c8e1450-e833-499c-8320-29b36b7ace5c
// 備用 API：https://raw.githubusercontent.com/hexschool/KCGTravel/master/datastore_search.json
const app = Vue.createApp({
  data() {
    return {
      allData: [],
    };
  },
  methods: {
    getData() { // 取得資料
      const apiUrl = "https://api.kcg.gov.tw/api/service/Get/9c8e1450-e833-499c-8320-29b36b7ace5c";
      
      axios.get(apiUrl).then((res) => {
          this.allData = res.data.data.XML_Head.Infos.Info;
        })
    },
  },
  created() {
      this.getData();
    },
})

app.mount('#app');
</script>

<!-- 🙇🙇練習結束🙇🙇 -->

<link rel="stylesheet" href="/stylesheets/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</body>
</html>

